::ng-deep * {

  margin: 0;
  padding: 0;
}

p {
  color: white;
  word-break: break-word
}

a {
  color: white
}

h1 {
  color: white
}

@media screen and (max-width: 768px) {
  #post {
    width: fit-content;
  }
}