<div id="post"
  class="flex flex-row justify-center border-s border-pink-400 bg-[#151b3e] min-w-[42rem] h-[5rem] max-h-[40rem] items-center overflow-y-clip overflow-x-clip top-0 bottom-0 left-0 right-0 m-auto mb-5 mt-2 rounded-lg shadow-2xl">
  <input type="radio" id="best" name="filter" checked />
  <label class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0"
    for="best">Best
  </label>
  <input type="radio" id="trending" name="filter" />
  <label class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0"
    for="trending">Trending</label>
  <input type="radio" id="new" name="filter" />
  <label class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0"
    for="new">New</label>
  <input type="radio" id="top" name="filter" />
  <label class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0"
    for="top">Top</label>
</div>