  .loginbutton {
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    transition: 0.4s;
    background-color: #9ABD9A;
  }

  .btn-close:hover {
    background-color: gray;
  }

  button:hover {
    color: white;
    background-color: #607660;
  }

  .hello {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
