<div id="mainsettingspage">
    <p id="settingtitle"><u>User Settings</u></p> 



    <!-- this is the div where all the settings content actually resides -->
<div id=" settings">
    <!--Account setttings-->
    <div class="settingsection">
        <p class="settingsectiontitle">
            Account
        </p>
        <hr>

        <div class="settingsField">
                <p>
                    Email adress: 
                </p>
                <p>
                    Password: 
                </p>
                <p>
                    Gender: 
                </p>
        </div>
    </div>
    <!--Privacy setttings-->
    <div class="settingsection">
        <p class="settingsectiontitle">
            Privacy
        </p>
        <hr>
        <div class="settingsField">
            <p>
                People blocked: 
            </p>
            <p>
                Communites muted: 
            </p>
            <p>
                Appear online?
            </p>
        </div>
    </div>
    <!--Chat & Messaging setttings-->
    <div class="settingsection">
        <p class="settingsectiontitle">
            Chat & Messaging
        </p>
        <hr>
        <div class="settingsField">
            <p>
                Who can send you private messages: 
            </p>
        </div>
    
    </div>
    <!--Donations -->
    <div class="settingsection">
        <p class="settingsectiontitle">
           Donate
        </p>
        <hr>
        <div class="settingsField">
            <p>
                LOL: 
            </p>
        </div>
    </div>
    <!--Feed setttings-->
    <div class="settingsection">
        <p class="settingsectiontitle">
           Feeds Settings 
        </p>
        <hr>
        <div class="settingsField">
            <p>
                Who can send you private messages: 
            </p>
        </div>
    </div>
</div>
</div>
