<div class="-m-20 h-60 flex flex-col items-center w-max">
  <img class="w-max" src="https://hesp.umd.edu/sites/hesp.umd.edu/files/M_Banner_2_crop.jpg" alt="" srcset="" />

  <img class="-m-3 w-12 h-12 p-1 bg-white rounded-full ring-2 ring-gray-500"
    src="https://styles.redditmedia.com/t5_2rob8/styles/communityIcon_vuxg2pjyxup21.png?width=256&v=enabled&s=b1d6cf7df4b95df4d24448d22047aad38be39753"
    alt="Bordered avatar" />

  <div class="flex flex-row justify-center">
    <div class="m-3">
      <h1>{{name}}</h1>
      <p>h/UMD</p>
    </div>
    <div class="">
      <button class="mt-4 rounded-lg bg-white px-5 py-1 font-medium">
        Join
      </button>
    </div>
  </div>

  <app-postings></app-postings>
</div>