@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    margin: 0 auto;
    background-color: #111c33; /* From black to pruples */
}

body::-webkit-scrollbar {
    width: scrollbarwidthpx;
   }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}