@tailwind base; 
@tailwind components; 
@tailwind utilities;

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: #10172a ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
