<div class="flex flex-col justify-center min-w-[42rem]">
  <div class="createButtons flex flex-row justify-center">
    <button
      style="z-index: 99"
      class="text-white rounded-full bg-[#bd2f97] p-3 mx-3 transform active:scale-75 transition-transform"
    >
      Create Post with Image
    </button>
    <button
      class="text-white rounded-full bg-[#bd2f97] p-3 mb-2 transform active:scale-75 transition-transform"
    >
      Create Post with Text
    </button>
  </div>

  <app-filter></app-filter>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://media.licdn.com/dms/image/C4D03AQE-rxsX-hNW2A/profile-displayphoto-shrink_200_200/0/1602628375857?e=1692230400&v=beta&t=phYVaar0yJJigfPFfDDKkltkEL98nEbpMVL8Xosrj1E" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line">
    Mao is quitting right now 
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://media.licdn.com/dms/image/D5635AQFCYKPDIlisOA/profile-framedphoto-shrink_200_200/0/1655991421156?e=1687536000&v=beta&t=aoY1DzGxUj9Yc7Me9exTwTSPZ801g4hncEqzmqKUgVo" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://media.licdn.com/dms/image/D4E03AQF_ZIPy_nqXSQ/profile-displayphoto-shrink_200_200/0/1681280379316?e=1692230400&v=beta&t=8aVhgmryziecDb-bhJQfTZ0DdatYFncoV73c22VyE_o" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
    Mao is quitting right now no doubt ipsum dolor sit amet, consectetur
    adipiscing elit. Ut mauris diam, mattis nec tellus vel, posuere pellentesque
    ligula. Maecenas et blandit ex. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam malesuada lectus tortor, nec egestas justo maximus
    vitae. Sed ultrices magna ac ligula volutpat blandit. Suspendisse


    sollicitudin faucibus erat vel maximus. Maecenas quis nulla et ligula
    ullamcorper lobortis. Donec tincidunt nisi id tempor commodo. Nunc vitae dui
    erat. Mauris id ex odio. Suspendisse in nisi turpis. Donec porta nibh in
    augue aliquet elementum. Curabitur varius eleifend mauris non sodales. Donec
    elementum ante fringilla libero vehicula, ut luctus urna dictum. Maecenas


    lobortis ante id sagittis volutpat. Vestibulum molestie felis neque, et
    lacinia ligula volutpat vitae. Duis id justo aliquam lectus vestibulum
    iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac condimentum
    odio, a ultricies purus. In hac habitasse platea dictumst.
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
    Mao is quitting right now no doubt ipsum dolor sit amet, consectetur
    adipiscing elit. Ut mauris diam, mattis nec tellus vel, posuere pellentesque
    ligula. Maecenas et blandit ex. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam malesuada lectus tortor, nec egestas justo maximus
    vitae. Sed ultrices magna ac ligula volutpat blandit. Suspendisse


    sollicitudin faucibus erat vel maximus. Maecenas quis nulla et ligula
    ullamcorper lobortis. Donec tincidunt nisi id tempor commodo. Nunc vitae dui
    erat. Mauris id ex odio. Suspendisse in nisi turpis. Donec porta nibh in
    augue aliquet elementum. Curabitur varius eleifend mauris non sodales. Donec
    elementum ante fringilla libero vehicula, ut luctus urna dictum. Maecenas


    lobortis ante id sagittis volutpat. Vestibulum molestie felis neque, et
    lacinia ligula volutpat vitae. Duis id justo aliquam lectus vestibulum
    iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac condimentum
    odio, a ultricies purus. In hac habitasse platea dictumst.
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://i.pinimg.com/564x/b5/92/15/b59215b20a2a64c5f47157c872d82be2.jpg" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
    Mao is quitting right now no doubt ipsum dolor sit amet, consectetur
    adipiscing elit. Ut mauris diam, mattis nec tellus vel, posuere pellentesque
    ligula. Maecenas et blandit ex. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam malesuada lectus tortor, nec egestas justo maximus
    vitae. Sed ultrices magna ac ligula volutpat blandit. Suspendisse


    sollicitudin faucibus erat vel maximus. Maecenas quis nulla et ligula
    ullamcorper lobortis. Donec tincidunt nisi id tempor commodo. Nunc vitae dui
    erat. Mauris id ex odio. Suspendisse in nisi turpis. Donec porta nibh in
    augue aliquet elementum. Curabitur varius eleifend mauris non sodales. Donec
    elementum ante fringilla libero vehicula, ut luctus urna dictum. Maecenas


    lobortis ante id sagittis volutpat. Vestibulum molestie felis neque, et
    lacinia ligula volutpat vitae. Duis id justo aliquam lectus vestibulum
    iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac condimentum
    odio, a ultricies purus. In hac habitasse platea dictumst.
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://i.pinimg.com/564x/b5/92/15/b59215b20a2a64c5f47157c872d82be2.jpg" />
    </pre>
  </app-post-type>
</div>
