<div class="flex flex-col justify-center">
  <div class="createButtons flex flex-row justify-center">
    <button
      class="text-white rounded-full bg-[#bd2f97] p-3 mx-3 transform active:scale-75 transition-transform"
    >
      Create Post with Image
    </button>
    <button
      (click)="toggleModal($event)"
      class="text-white rounded-full bg-[#bd2f97] p-3 mx-3 transform active:scale-75 transition-transform"
    >
      Create Post with Text
    </button>
  </div>

  <app-filter></app-filter>

  <span *ngIf="posts.length > 0; then postsexist; else noposts"></span>

  <ng-template #postsexist>
    <ul>
      <li *ngFor="let post of posts">
        <app-post-type
          username=" {{ post.User }}"
          title="{{ post.Title }}"
          community="{{ post.Community }}"
        >
          {{ post.Content }}
        </app-post-type>
      </li>
    </ul>
  </ng-template>

  <ng-template #noposts>
    <p style="color: white">Be the first to make a post!</p>
  </ng-template>

  <!-- code for the modal-->
  <div class="fixed z-50 inset-0" id="modal" [ngClass]="{ hidden: !showModal }">
    <div class="bg-gray-900 bg-opacity-60" (click)="toggleModal($event)">
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
          >&#8203;</span
        >

        <div
          class="inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
          (click)="$event.stopPropagation()"
        >
          <!-- Add margin if you want to see some of the overlay behind the modal-->
          <div class="py-4 text-left px-6">
            <!--Title-->
            <div
              [hidden]="!showModal"
              class="bg-white"
              id="postModal"
              (click)="$event.stopPropagation()"
            >
              <div class="modal-body" *ngIf="showModal">
                <app-post-modal (close)="toggleModal($event)"></app-post-modal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
    <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://media.licdn.com/dms/image/C4D03AQE-rxsX-hNW2A/profile-displayphoto-shrink_200_200/0/1602628375857?e=1692230400&v=beta&t=phYVaar0yJJigfPFfDDKkltkEL98nEbpMVL8Xosrj1E" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line">
    Mao is quitting right now 
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://media.licdn.com/dms/image/D5635AQFCYKPDIlisOA/profile-framedphoto-shrink_200_200/0/1655991421156?e=1687536000&v=beta&t=aoY1DzGxUj9Yc7Me9exTwTSPZ801g4hncEqzmqKUgVo" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://media.licdn.com/dms/image/D4E03AQF_ZIPy_nqXSQ/profile-displayphoto-shrink_200_200/0/1681280379316?e=1692230400&v=beta&t=8aVhgmryziecDb-bhJQfTZ0DdatYFncoV73c22VyE_o" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
    Mao is quitting right now no doubt ipsum dolor sit amet, consectetur
    adipiscing elit. Ut mauris diam, mattis nec tellus vel, posuere pellentesque
    ligula. Maecenas et blandit ex. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam malesuada lectus tortor, nec egestas justo maximus
    vitae. Sed ultrices magna ac ligula volutpat blandit. Suspendisse


    sollicitudin faucibus erat vel maximus. Maecenas quis nulla et ligula
    ullamcorper lobortis. Donec tincidunt nisi id tempor commodo. Nunc vitae dui
    erat. Mauris id ex odio. Suspendisse in nisi turpis. Donec porta nibh in
    augue aliquet elementum. Curabitur varius eleifend mauris non sodales. Donec
    elementum ante fringilla libero vehicula, ut luctus urna dictum. Maecenas


    lobortis ante id sagittis volutpat. Vestibulum molestie felis neque, et
    lacinia ligula volutpat vitae. Duis id justo aliquam lectus vestibulum
    iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac condimentum
    odio, a ultricies purus. In hac habitasse platea dictumst.
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
    Mao is quitting right now no doubt ipsum dolor sit amet, consectetur
    adipiscing elit. Ut mauris diam, mattis nec tellus vel, posuere pellentesque
    ligula. Maecenas et blandit ex. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam malesuada lectus tortor, nec egestas justo maximus
    vitae. Sed ultrices magna ac ligula volutpat blandit. Suspendisse


    sollicitudin faucibus erat vel maximus. Maecenas quis nulla et ligula
    ullamcorper lobortis. Donec tincidunt nisi id tempor commodo. Nunc vitae dui
    erat. Mauris id ex odio. Suspendisse in nisi turpis. Donec porta nibh in
    augue aliquet elementum. Curabitur varius eleifend mauris non sodales. Donec
    elementum ante fringilla libero vehicula, ut luctus urna dictum. Maecenas


    lobortis ante id sagittis volutpat. Vestibulum molestie felis neque, et
    lacinia ligula volutpat vitae. Duis id justo aliquam lectus vestibulum
    iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac condimentum
    odio, a ultricies purus. In hac habitasse platea dictumst.
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://i.pinimg.com/564x/b5/92/15/b59215b20a2a64c5f47157c872d82be2.jpg" />
    </pre>
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
    Mao is quitting right now no doubt ipsum dolor sit amet, consectetur
    adipiscing elit. Ut mauris diam, mattis nec tellus vel, posuere pellentesque
    ligula. Maecenas et blandit ex. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nullam malesuada lectus tortor, nec egestas justo maximus
    vitae. Sed ultrices magna ac ligula volutpat blandit. Suspendisse


    sollicitudin faucibus erat vel maximus. Maecenas quis nulla et ligula
    ullamcorper lobortis. Donec tincidunt nisi id tempor commodo. Nunc vitae dui
    erat. Mauris id ex odio. Suspendisse in nisi turpis. Donec porta nibh in
    augue aliquet elementum. Curabitur varius eleifend mauris non sodales. Donec
    elementum ante fringilla libero vehicula, ut luctus urna dictum. Maecenas


    lobortis ante id sagittis volutpat. Vestibulum molestie felis neque, et
    lacinia ligula volutpat vitae. Duis id justo aliquam lectus vestibulum
    iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac condimentum
    odio, a ultricies purus. In hac habitasse platea dictumst.
  </pre
    >
  </app-post-type>

  <app-post-type>
    <pre class="whitespace-pre-line w-auto">
      Donec elementum ante fringilla libero vehicula, ut luctus urna dictum.
      Maecenas lobortis ante id sagittis volutpat. Vestibulum molestie felis
      neque, et lacinia ligula volutpat vitae. Duis id justo aliquam lectus
      vestibulum iaculis in vel lacus. Pellentesque a diam magna. Aliquam ac
      condimentum odio, a ultricies purus. In hac habitasse platea dictumst.
  
      <img class="mt-2 object-fill" src="https://i.pinimg.com/564x/b5/92/15/b59215b20a2a64c5f47157c872d82be2.jpg" />
    </pre>
  </app-post-type>
--></div>
